<%- include('partials/header')  %> 

    <!-- main -->
    <main>
        <div class="container">
            <h1>Contact Us:</h1>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed enim viverra, lobortis sapien et, mollis augue. Mauris porta feugiat ante, eget lobortis ex lacinia hendrerit. Suspendisse potenti. Etiam nec lacus quis nibh ultrices vulputate. Duis aliquam turpis nisi. Praesent ultrices non mauris non accumsan. Suspendisse luctus accumsan ante et accumsan. Mauris vitae nisi vitae eros commodo consectetur. In sed semper lectus, eu sodales est. Proin commodo purus vel varius sagittis. Proin eu orci at nisi ultrices posuere id sit amet ipsum.
                </p>
            </div>
        </div>
    </main>

<%- include('partials/footer')  %> 