<%- include('partials/header')  %> 

    <!-- main -->
    <main>
        <div class="container">
            <div class="post">
                <h2 class="mb-5"><%= post.title %></h2>
                <p>
                    <%= post.body %> 
                </p>
            </div>
        </div>
    </main>

<%- include('partials/footer')  %> 